@font-face {
  font-family: Vazir;
  src: url(../assets/font/Vazir.eot);
}
* {
  font-family: Vazir, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
.container {
  height: 100%;
  width: 100%;
  min-width: "500px";
}
